{% extends 'base.html' %}

{% block content %}
    <h1>Welcome to FlaskBlog</h1>
    <body>
      <div class="jumbotron jumbotron-fluid" style=
      "background-image: url('https://images.unsplash.com/photo-1543536448-1e76fc2795bf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1139&q=80');
      background-repeat: no-repeat; background-size: cover; height: 100vh; margin-bottom: 0px">
        <!-- <img src="/movietoolv2/flaskr/images/background.jpg" style="width: 100%; height: 100%; background-repeat: no-repeat; background-size: cover;" alt="https://images.unsplash.com/photo-1543536448-1e76fc2795bf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1139&q=80"> -->
        <div class="container">
          <div class="row">
            <div class="col 3">
              <!--<p>Hello</p>-->
            </div>
            <div class="col 6" style="margin-top: 150px">
              <div class="d-flex" style="height: 400px; width: 655px; background-color: rgb(142, 112, 112); opacity: 0.9; position: relative">
                <div class="Sign-in-box" style="margin-top: 5.3vh; margin-left: 6.6vh; font-family: Georgia, 'Times New Roman', Times, serif; font-size: 1em; position: absolute">
                  <h1 style="color:azure;">Sign in</h1>
                  <!-- Form Taken from Bootstrap 4.3.1 grid layout documentation-->
                  <form style="margin-top: 2.6vh; color:antiquewhite">
                      <div class="form-group">
                        <label for="InputEmail">Email address</label>
                        <input type="email" class="form-control" id="InputEmail" aria-describedby="emailHelp" placeholder="Enter email">
                        <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                      </div>
                      <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                      </div>
                      <button type="submit" class="btn btn-primary">Submit</button>
                  </form>
                  <div class="NewUsers" style="margin-top: 5.3vh; color:antiquewhite">
                    <p>
                      New to MovieTool?    <a href='signup' style="color:aliceblue">Click here</a> to sign up.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col 3">
              <!--<p>Goodbye</p>-->
            </div>
          </div>
        </div>
      </div>

    </body>
{% endblock %}
